@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}



<!-- header section start -->
<div class="header_section">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="index.html"><img src="~/images/logo.png"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">

                        <a class="nav-link text-bg-success" asp-area="" asp-controller="Design" asp-action="About">About </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-bg-success" asp-area="" asp-controller="Design" asp-action="Blog">Blog</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-bg-success" asp-area="" asp-controller="Design" asp-action="Contact">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-bg-success" asp-area="" asp-controller="Design" asp-action="Index">Index</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-bg-success" asp-area="" asp-controller="Design" asp-action="Services">Services</a>
                    </li>
                </ul>
            </div>
                <form class="form-inline my-2 my-lg-0">
                    <div class="serach_icon"><a href="#"><i class="fa fa-search" aria-hidden="true"></i></a></div>
                </form>
         </nav>
    </div>
</div>
<!-- header section end -->
<!-- blog section start -->
<div class="blog_section layout_padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="blog_taital">Our Blog</h1>
            </div>
        </div>
        <div class="choose_section_2">
            <div class="row">
                <div class="col-sm-4">
                    <div class="blog_img"><img src="~/images/blog-img.png"></div>
                    <h4 class="date_text">01 June</h4>
                    <h4 class="safety_text">How does WordPress blog work</h4>
                    <p class="ipsum_text">Every once in a while some experts will have a conference and announce that painting is now dead. They are usually referring to somewhat realistic paintings that depict something or other that a more or less average person can understand.</p>
                    <div class="read_bt1"><a href="https://painterskeys.com/levels-of-achievement/">Read More</a></div>
                </div>
                <div class="col-sm-4">
                    <div class="blog_img"><img src="~/images/blog-img.png"></div>
                    <h4 class="date_text">05 Dec</h4>
                    <h4 class="safety_text">How does WordPress blog work</h4>
                    <p class="ipsum_text">“Alone we can do so little; together we can do so much.” -Helen Keller Teamwork is the foundation of any strong team. It is not something that comes overnight nor easily. A strong team is built from the ground up by a group of individuals.</p>
                    <div class="read_bt1"><a href="http://peningtonpainting.com/category/ppc-achievements/">Read More</a></div>
                </div>
                <div class="col-sm-4">
                    <div class="blog_img"><img src="~/images/blog-img.png"></div>
                    <h4 class="date_text">15 oct</h4>
                    <h4 class="safety_text">How does WordPress blog work</h4>
                    <p class="ipsum_text">Asian Paints is India's leading paint and decor company and ranked among the top ... of certain conditions precedent and achievement of financial targets.</p>
                    <div class="read_bt1"><a href="https://www.asianpaints.com/about-us.html">Read More</a></div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- blog section end -->
<!-- footer section start -->
<div class="footer_section layout_padding margin_top90">
    <div class="container">
        <div class="footer_section_2">
            <div class="row">
                <div class="col-lg-3">
                    <div class="footeer_logo"><img src="~/images/logo.png"></div>
                    <p class="lorem_text">The Paints and Coatings Industry is one of the most heavily regulated industries in the world.</p>
                </div>
                <div class="col-lg-3">
                    <h4 class="footer_taital">Discover</h4>
                    <div class="footer_menu">
                        <ul>
                            <li><a href="https://www.dnb.com/business-directory/company-information.paint_coating_and_adhesive_manufacturing.in.west_bengal.html">Discover</a></li>
                            <li><a asp-controller="Design" asp-action="Index">Home</a></li>
                            <li><a href="https://5.imimg.com/data5/HQ/BP/MY-811127/colorchart-500x500.jpg">Categories</a></li>
                            <li><a asp-controller="Design" asp-action="About">About Us</a></li>
                            <li><a asp-controller="Design" asp-action="Contact">Contacts</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3">
                    <h4 class="footer_taital">Contact Us</h4>
                    <p class="footer_text">Personal Info Cookie Policy Terms of Us Privacy Policy</p>
                </div>
                <div class="col-lg-3">
                    <h4 class="footer_taital">Newsletter</h4>
                    <div class="form-group">
                        <textarea class="update_mail" placeholder="Email" rows="5" id="comment" name="Email"></textarea>
                        <div class="subscribe_bt"><a href="#">Subscribe</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- footer section end -->
<!-- copyright section start -->
<div class="copyright_section">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <p class="copyright_text">2023 All Rights Reserved. Design by <a href="https://html.design">Free Html Templates</a>  Distribution by <a href="https://themewagon.com">ThemeWagon</p>
            </div>
        </div>
    </div>
</div>
<!-- copyright section end -->
<!-- Javascript files-->
<script src="js/jquery.min.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/bootstrap.bundle.min.js"></script>
<script src="js/jquery-3.0.0.min.js"></script>
<script src="js/plugin.js"></script>
<!-- sidebar -->
<script src="js/jquery.mCustomScrollbar.concat.min.js"></script>
<script src="js/custom.js"></script>